.steps {
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/images/bg-sidebar-desktop.svg');
  // background-color: #483EFF;
  padding: 1.5rem 4rem 8rem 4rem;
  background-position: bottom;
  max-height: 50rem;
  // height: 75vh;
  border-radius: 10%;
  background-repeat: no-repeat;
  margin-right: 6rem;

  @include respond(nine) {
    margin-right: 4rem;
  }

  @include respond(eight) {
    margin-right: 2.5rem;
  }

  @include respond(seven) {
    flex-direction: row;
    background-image: url('../../../assets/images/bg-sidebar-mobile.svg');
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 -5rem 0;
    padding: 5rem 2rem;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    border-radius: 0;

  }
  
  .step {
    display: flex;
    align-items: center;

    &__number {
      margin-right: 1.5rem;
      color: #fff;
      padding: 0.5rem 0.7rem;
      border: 2px solid #fff;
      border-radius: 50%;
      font-weight: 700;

      &.selected {
        color: #000;
        background-color: #ABBCFF;
        border: 2px solid transparent;
      }
    }

    &__name {
      // line-height: 2px;

      @include respond(seven) {
        display: none;
      }

      p {
        color: #ABBCFF;
        margin-bottom: -1.2rem;
      }

      h4 {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}