.summary {
  text-align: left;

  &__details {
    background-color: #F8F9FF;
    margin: auto;
    // width: 30rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;

    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1.5px solid #e0e1e6;
      padding-bottom: 1rem;
    }

    .add-ons {
      
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__total {
    display: flex;
    margin: auto;
    // width: 30rem;
    align-items: center;
    justify-content: space-between;

    h4 {
      color: #483EFF;
    }
  }
}