.plan {
  margin-left: -3rem;

  &__type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .option {
      padding: 2rem 3rem 2rem 1rem;
      margin: 3rem 1rem;
      border-radius: 5%;
      width: 6rem;
      text-align: left;
      border: 2px solid rgb(0, 0, 0, 0.1);

      p {
        color: grey;
      }

      .free {
        font-size: 0.8rem;
        margin-top: -0.8rem;
        margin-bottom: -0.3rem;
        color: #000;
        font-weight: 500;
      }

      &.selected {
        border-color: #483EFF;
        background-color: #F8F9FF;
      }
    }
  }


  &__frequency {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 0 0.5rem;
    }

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
      }
    
      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: black;
        display: block;
        border-radius: 100px;
        position: relative;
      }
    
      label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
      }
    
      input:checked+label {
        background: #000;
      }
    
      input:checked+label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }
    
      label:active:after {
        width: 18px;
      }
    
      // centering
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
  }
}